<%- include('../partials/head') -%> 

<%- include('../partials/navigation-bar') -%> 

    <div class="container-content-main">
        <h1>Product: <%= inventoryItem.name %></h1>

        <p>Hello <%= name %>! See details about the prodcut below or go back to the <a href="/inventory">inventory page.</a></p>

        <p>Name: <%= inventoryItem.name %></p>

        <p>Number of Wheels: <%= inventoryItem.numberOfWheels %></p>

        <p>Price: $<%= inventoryItem.price %></p> 

        <p>This is filler code to make the page look nice. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus dolores, sunt, quasi consequatur alias accusantium assumenda ad rem laboriosam soluta maiores repudiandae, facilis eius hic debitis modi? Labore, ipsum temporibus.</p>
        <p>This is filler code to make the page look nice. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus dolores, sunt, quasi consequatur alias accusantium assumenda ad rem laboriosam soluta maiores repudiandae, facilis eius hic debitis modi? Labore, ipsum temporibus.</p>
        <p>This is filler code to make the page look nice. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus dolores, sunt, quasi consequatur alias accusantium assumenda ad rem laboriosam soluta maiores repudiandae, facilis eius hic debitis modi? Labore, ipsum temporibus.</p>
        <p>This is filler code to make the page look nice. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus dolores, sunt, quasi consequatur alias accusantium assumenda ad rem laboriosam soluta maiores repudiandae, facilis eius hic debitis modi? Labore, ipsum temporibus.</p>
    </div>

<%- include('../partials/footer') -%> 